/*********************************************************************************
**************                      GENERAL CSS                      *************
*********************************************************************************/

html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #0B0033;
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-family: Frank Ruhl Libre Black, serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc(1rem + 5vmin);
    text-align: center;
    letter-spacing: 1px;
}
h1, h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: bold;
    font-size: 1.8em;
}

h3, h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 3.55556px;
}

.row {
    margin: 0;
}

img {
    max-width: 100%;
}
/*********************************************************************************
**************                      ABOUT HTML                      *************
*********************************************************************************/

/* Navigation Bar */
nav {
    transition: .5s ease;
    background: #fff;
}
nav ul {
    text-align: center;
}
.nav-item:not(:nth-of-type(3)) {
    margin-right: 0.5em;
}
.nav-item.active .nav-link{
    color: #F05D5E !important;
    font-weight: bold;
}
.nav-link {
    font-size: 0.8rem;
}

.about-page-section {
    margin-top: 5em;
}

/* header photo */

#header-img-ruby {
    margin-top: 1em;
    border-radius: 10px;
}
.about-main-content h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.emphasized {
    color: #F05D5E;
    font-weight: bold;
}
.landing-heading {
    margin: 3em 0;
}

/* WORK ETHOS */
.ethos-section h1 {
    margin-bottom: 2em;
}
.ethos-boxes {
    margin: 1.5em 0;
}
.ethos-box-dark {
    height: 15rem;
    width: 15rem;
    background: #0B0033;
    border-radius: 10px;
}

.ethos-box-light-wrapper {
    height: 15rem;
    width: 15rem;
    padding: 2px;
    background: linear-gradient(#F05D5E, #F7BA8F);
    border-radius: 10px;
}
.ethos-box-light {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.ethos-light-text {
    background: -webkit-linear-gradient(top left, #F7B18F, #E296A3, #A44E73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ethos-dark-text {
    color: #F7B18F;
    font-weight: 500;
}

.ethos-box-dark > .ethos-dark-text:nth-of-type(2) {
    margin-top: 1em;
}

/* FOOTER SECTION */
.footer-section {
    background: #0B0033;
    color: #F7B18F;
    padding: 3em 0;
}

.footer-section h5 {
    margin: 36px 0;
    letter-spacing: 3.55px;
    font-weight: 300;
    font-size: 0.95em;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: #fff;
    text-decoration: none;
}

.top-return {
    margin: 60px 0 100px;
}
#return-top {
    font-size: 1.2em;
    color: #5386E4;
}
#return-top i {
    transition: all 0.5s ease;
}
.contact-icons {
    font-size: 2em;
    text-align: right;
}

.footer-icon {
    color: #F7B18F;
}
#lets-make-something-awesome {
    background: linear-gradient(to right,#F7BA8F,#CC7C92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    font-weight: 700;
    margin: 1em;
}
.footer-icon:not(:nth-of-type(1)) {
    margin-left: 3rem;
}
/* BUTTONS */

.about-btn {
    border: 3px solid #5386E4;
    border-radius: 40px;
    /* text-decoration: none; */
    /* font-size: 1.6rem; */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3.55556px;
    color: #0B0033;
    text-align: center;
    padding: 1rem 3rem;
    /* background: transparent; */
    display: block;
}

.about-btn:hover{
    background-image: linear-gradient(to right, #F05D5E 0%, #F05D5E 51%, #F05D5E 100%);
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid #0B0033;
    transition: .5s all;
}

/* PARTICLES */
#particles-js {
    width: 15%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
}
#particles-js-right {
    width: 15%;
    height: 99%;
    position: absolute;
    top: 0;
    right: 0;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
    body {
        text-align: center;
    }
    .about-btn-row > .col-lg-6:nth-of-type(2) {
        margin-top: 1em;
    }
    .about-btn {
        font-size: 1em;
    }
    .ethos-boxes .col-lg-4 {
        text-align: center;
    }
    .ethos-boxes > .col-lg-4:nth-of-type(2) {
        margin-top: 1em
    }
    .contact-icons {
        text-align: center !important;
    }
}