
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height:auto;
}

html {
    font-size: 10px;
}

p, h6, a{
    line-height: 2.2rem;
}

h6{
    line-height: 2.4rem;
}

/* -------------- Home Hero ------------- */

.statement{
    margin: auto;
    max-width: 85%;
}

@media all and (min-width:800px){
.statement{
    max-width: 55%;
}
}

.home-hero{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.about-picture{
    margin: auto;
}

.landing-text{
margin: 0 auto;
max-width: 60rem;
}

.landing-text h1{
        padding: 4rem 1rem 0 2rem;
}

/* -------------- Story ------------- */

body h2{
    text-align: center;
    padding-top: 4rem;
}

body h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body p{
    font-size: 1.6rem;
    padding-bottom: 3rem;
}

.btn{
    display: block;
    text-align: center;
    transition: .5s all;
    padding: 80%vh;
}


/*<-------------------- work ethos ----------------------->*/
.work-ethos{
display: grid;
grid-template-columns: 1fr;
margin: auto;
grid-gap: 2rem;
padding-bottom: 8rem;
max-width: 610px;
align-items: center;
}

.work-ethos p{
    text-align: center;
    border-radius: 8px;
    width: 25rem;
    height: 25rem;
    font-size: 2.4rem;
    line-height: 4rem;
    margin:auto;
    padding: 3rem;
    align-content: center;
    display:grid;

}.quote-d{
    background: var(--dark-blue);
    color: var(--light-orange);
    font-weight: 700;
}

.quote-l{
    color: var(--dark-blue);
    background: linear-gradient(to right,#F05D5E 5%,#F7BA8F);
    font-weight: 700;
}

@media all and (min-width:50rem){
    .work-ethos{
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .quote-l{
        background: linear-gradient(to right,#F05D5E,#F7BA8F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        font-weight: 700;
        border: 3px solid var(--light-orange);
    }
}


/*.quote1{
    grid-column: 2/3;
    grid-row: 1/2

}

.quote2{
    grid-column: 3/4;
    grid-row: 1/2
}

.quote3{
    grid-column: 2/3;
    grid-row:2/3
}

.quote4{
    grid-column: 3/4;
    grid-row:2/3
}*/

/* --------Button Styles------ */

.btn-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    transition: .5s all;
    max-width: 80vw;
}

.btn-outline{
    border: 3px solid var(--blue);
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3.55556px;
    color: var(--dark-blue);
    text-align: center;
    padding: 1rem;
    margin: 0 0 4rem 0;
    }

@media all and (min-width:800px){
.btn-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding: 0rem 2rem;
    max-width: 80vw;
    transition: .5s all;
    margin: 0 auto;
}
}

    .btn:hover{
        background-image: linear-gradient(to right, #F05D5E 0%, #F05D5E 51%, #F05D5E 100%);
        color: #fff;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        border: 3px solid var(--dark-blue);
        transition: .5s all;
    }

    .btn:hover a{
        color: var(--white);
        transition: .5s all;
    }
