/*<-------------------- Home Hero ----------------------->*/
.home-hero{
    display: flex;
    min-height: 100vh;
    margin-top: -102px;
    padding: 3rem;
    background-image: url('../images/dots.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.home-hero div{
    text-align:center;
    margin:auto;
    background: rgba(255,255,255,0.5);
}

.logo2{
    max-width: 8rem;
}

.home-hero h1{
    max-width: 75.3rem;
    margin: 60px 0 0 0;
}

/*<-------------------- Case Study Header ----------------------->*/
.cs-header{
    text-align: center;
    padding: 3rem;
}

.cs-header p{
    margin-top: -20px;
}

/*<-------------------- Global Case Studies ----------------------->*/
.cs-grid{
    display: grid;
    /*grid-template-columns: repeat(auto-fit,minmax(300px,1fr));*/
    grid-template-columns: 1fr;
    grid-gap: 10rem;
    max-width: 95rem;
    margin-right: auto;
    margin-left: auto;
    padding: 6rem 3rem;
}

@media all and (min-width:700px){
    .cs-grid{
        grid-template-columns: 1fr 1fr;
    }

    .cs-wrapper:nth-of-type(odd) .cs-grid .case-study-l{
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }

    .cs-wrapper:nth-of-type(odd) .cs-grid .case-study-r{
        grid-column: 1;
        grid-row: 1;
        text-align: right;
    }
}

.case-study-l h2 {
    margin: 0 0 1rem 0;
}
.case-study-l h5 {
    margin: 0 0 1rem 0;
}
.case-study-l p {
    margin: 0 0 1rem 0;
}

.case-study-l img{
    max-width: 20.5rem;
}


.btn{
    margin-top: 3rem;
    border: 3px solid var(--dark-blue);
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3.55556px;
    transition: .5s all;
    background-image: none;
}

.btn-outline{
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: block;
  text-align: center;
  transition: .5s all;
}

/*<-------------------- Wine Notes ----------------------->*/

.cs-winenotes {
    margin-bottom: -6.3rem;
}

.cs-winenotes a{
    color: var(--dark-blue);
}

/*<-------------------- Fetch ----------------------->*/
.cs-fetch p{
    color: var(--white);
}

.cs-fetch h2{
    color: var(--white);
}

.cs-fetch h5{
    color: var(--white);
}

.cs-fetch .btn{
  border-color: var(--white);
}

.cs-fetch a{
    color: var(--white);
}

.cs-fetch .case-study-r img{
    max-width: 80vw;
    margin:auto;
}

.cs-fetch .case-study-r {
    justify-self:center;
}


@media all and (min-width:700px){
.cs-fetch .case-study-r{
    justify-self:end;
}

.cs-fetch .case-study-r img{
    max-width: 30rem;
}
}

/*<-------------------- Ruby Bio ----------------------->*/

.cs-ruby {}

.cs-ruby .case-study-r{
    color: var(--dark-blue);
}

.cs-ruby .btn-outline{
    border-color: var(--dark-blue);
}

.cs-ruby a{
    color: var(--dark-blue);
}


.btn:hover{
    background-image: linear-gradient(to right, #F05D5E 0%, #F05D5E 51%, #F05D5E 100%);
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid var(--white);
    transition: .5s all;
}

.btn:hover a{
    color: var(--white);
    transition: .5s all;
}

/*<-------------------- Footer ----------------------->*/
