/* global */

* {
    padding; 0;
    margin: 0;
}

body{
    font-family: Poppins, sans-serif;
}

/*Hero*/

/* Colors */
:root{
    --light-orange:#F7B18F;
}
:root{
    --dark-blue:#0B0033;
}
:root{
    --dark-orange:#F05D5E
}
:root{
    --blue:#5386E4;
}
:root{
    --white:#FFFFFF;
}
:root{
    --orange-yellow-gradient:(#F05D5E 0.66%, #F7BA8F 62.4%);
}
