
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height:auto;
}

html {
    font-size: 10px;
}

h4{
    color: var(--dark-orange);
}

/* -------- Hero -------*/
.hero-wrapper{
    background: #bbd0f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-logo {
    max-width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hero p {
    max-width: 65rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    line-height: 24px;
}

.grapefruit {
    display: block;
    margin-left: auto;
    width: 50%;
    max-width: 25rem;
}

.hero-winenotes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 88rem;
}

/* -------- Case Study Nav Bar -------*/
.nav-bar-wrapper{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-bar-wrapper a {
    color: var(--white);
    font-size: 1.6rem;
}

/* -------- Meet wine notes -------*/
.meet-wn{
max-width: 65rem;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
line-height: 24px;
}

.btn{
    border: 3px solid var(--blue);
    border-radius: 40px;
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 3.55556px;
    padding: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.my-role{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 15rem;
    align-items: center;
    text-align: center;
}

.role-l{
    grid-column: 1/2;
}

.role-m{
    grid-column: 2/3;
}

.role-r{
    grid-column: 3/4;
}


/* -------- Overview -------*/

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 0rem 6rem;
}

.content-r{
    grid-column: 3/4;
}

/* -------- Divider -------*/
.wine-divider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wine-divider img{
    margin: auto;
    max-width: 30rem;
    grid-gap: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(30deg);
}
