
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height:auto;
}

html {
    font-size: 10px;
}

h4{
    color: var(--dark-orange);
}

/* -------- Hero -------*/
.hero{
    position: relative;
    overflow-x: hidden;
}

.lemon{
    position: absolute;
    left: -77px;
    max-width: 32vw;
}


.hero-wrapper{
    background: #bbd0f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-logo {
    max-width: 15rem;
    display: block;
    margin: 0 auto;
    padding: 4rem 0;
}

.hero p {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    padding: 0 2rem 8rem 2rem;
}

.grapefruit {
    position: absolute;
    right: -105px;
    top: 333px;
    max-width: 21vw;
}

.hero-winenotes {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    padding-bottom: -5rem;
    padding-top: 1rem;
}

.hero h1{
    z-index: 2;
}

@media all and (min-width:800px){
    .lemon{
    left: -116px;
    top: 3rem;
    }
}

/* -------- Case Study Nav Bar -------*/
.nav-bar-wrapper{
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    margin-top: -1.5rem;
    position: sticky;
    z-index: 1;
}

.nav-bar-wrapper div{
    padding: 1rem;
}

.nav-bar-wrapper a {
    color: var(--white);
    font-size: 1.6rem;
}

@media all and (min-width:800px){
    .nav-bar-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
}


/* -------- Meet wine notes -------*/
.meet-wn-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    text-align: center;
}

.my-role{
    padding-top: 4rem;
    text-align: center;
}

.meet-wn img{
    max-width: 15rem;
}

.meet-wn p{
    padding-bottom: 4rem;
}

@media all and (min-width:800px){
    .meet-wn{
    max-width: 65rem;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    padding-top: 6rem;
    }

    .btn{
    margin: 0 auto 10rem auto;
    width: 35%;
    }

    .my-role{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0rem 15rem;
    }

    .duration{
        grid-column: 1;
    }

    .duration2{
        grid-column: 1;
        grid-row: 2;
    }

    .role-m{
        grid-column: 2/3;
    }

    .role-r{
        grid-column: 3;
        grid-row: 1;
    }

    .tools{
        grid-column: 3;
        grid-row: 2;
    }

    .meet-wn img{
        position: absolute;
        left: 4rem;
    }
}


.btn{
    border: 3px solid var(--blue);
    border-radius: 40px;
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 3.55556px;
    padding: 1rem;
    text-align: center;
    display: block;
}


/* -------- Overview -------*/
.title{
    text-align: center;
}

.layout{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
}

@media all and (min-width:700px){
    .layout{
        display: grid;
        grid-template-columns: 1fr 1fr 4fr;
        padding: 0rem 6rem;
    }

    .content-r{
        grid-column: 3/4;
    }

    .title h2{
        grid-column: 3/4;
        text-align: left;
    }
}

/* -------- Divider -------*/
.bg-orange-l{
    overflow-x: hidden;
}

.wine-divider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wine-divider img{
    margin: auto;
    max-width: 30rem;
    grid-gap: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(30deg);
}

/*<-------------------- Discovery Phase ----------------------->*/
.portfolio-link{
    color:var(--blue);
    font-weight: bold;
}

.layout h2{
    grid-column: 1;
}

@media all and (min-width:700px){
    .layout h2{
        grid-column: 3/4;
    }
}


.btn:hover{
    background-image: linear-gradient(to right, #F05D5E 0%, #F05D5E 51%, #F05D5E 100%);
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid var(--white);
    transition: .5s all;
    border-color: var(--dark-blue);
}

.btn:hover a{
    color: var(--white);
    transition: .5s all;
}
