
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height:auto;
}

html {
    font-size: 10px;
}

h4{
    color: var(--dark-orange);
}

/* -------- Hero -------*/
.hero{
    position: relative;
}

.lemon{
    position: absolute;
    left: -80px;
}

.hero-wrapper{
    background: #bbd0f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-logo {
    max-width: 15rem;
    display: block;
    margin: 0 auto;
    padding: 4rem 0;
}

.hero p {
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    padding-bottom: 8rem;
}

.grapefruit {
    position: absolute;
    right: -80px;
}

.hero-winenotes {
    display: block;
    margin: 0 auto;
    max-width: 88rem;
    padding-bottom: -5rem;
}

.hero h1{
    z-index: 2;
}

/* -------- Case Study Nav Bar -------*/
.nav-bar-wrapper{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-bar-wrapper a {
    color: var(--white);
    font-size: 1.6rem;
}

/* -------- Meet wine notes -------*/
.meet-wn{
max-width: 65rem;
display: block;
margin: 0 auto;
line-height: 24px;
padding-top: 6rem;
}

.btn{
    border: 3px solid var(--blue);
    border-radius: 40px;
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: bold;
    line-height: 2.2rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 3.55556px;
    padding: 1rem;
    text-align: center;
    display: block;
    margin: 0 auto 10rem auto;
    width: 35%;
}

.my-role{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 15rem;
    text-align: center;
}

.role-l{
    grid-column: 1/2;
}

.role-m{
    grid-column: 2/3;
}

.role-r{
    grid-column: 3/4;
}


/* -------- Overview -------*/

.meet-wn img{
    position: absolute;
    left: 4rem;
    max-width: 15rem;
}

.meet-wn p{
    padding-bottom: 4rem;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 0rem 6rem;
}

.content-r{
    grid-column: 3/4;
}

/* -------- Divider -------*/
.wine-divider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wine-divider img{
    margin: auto;
    max-width: 30rem;
    grid-gap: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(30deg);
}




.btn:hover{
    background-image: linear-gradient(to right, #F7B18F 0%, #F05D5E 51%, #F7B18F 100%);
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid var(--white);
}
